<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>

    <!--
    https://codemirror.net
    GitHub: https://github.com/codemirror/codemirror5
    doc: https://codemirror.net/5/doc/manual.html
    -->

    <!-- 引入核心文件 codemirror.css -->
    <link rel="stylesheet" th:href="${#request.contextPath} + '/codemirror-5.65.8/lib/codemirror.css'">

</head>
<body style="margin: 20px">

<textarea id=code th:text="${content}"></textarea>
<button onclick="submit()">Submit</button>

</body>
</html>

<!-- jquery.js -->
<script th:src="${#request.contextPath} + '/jquery-3.6.0/main.min.js'"></script>

<!-- utils.js -->
<script th:src="${#request.contextPath} + '/utils.js'"></script>

<!-- 引入核心文件 codemirror.js -->
<script th:src="${#request.contextPath} + '/codemirror-5.65.8/lib/codemirror.js'"></script>

<!-- 引入代码高亮js -->
<script th:src="${#request.contextPath} + '/codemirror-5.65.8/mode/yaml/yaml.js'"></script>
<script th:src="${#request.contextPath} + '/codemirror-5.65.8/mode/shell/shell.js'"></script>

<script th:inline="javascript">

    let utilsModule = UtilsModule();

    // context-path
    const contextPath = [[${#httpServletRequest.getContextPath()}]] + '';

    let myTextarea = document.getElementById('code');
    let editor = CodeMirror.fromTextArea(myTextarea, {
        mode: [[${type}]],
        lineNumbers: true,
        matchBrackets: true,
    });

    // setSize(width, height)
    editor.setSize(null, 800);

    function submit() {
        let value = editor.getValue();
        // console.log(value);
        let url = contextPath + [[${path}]];
        utilsModule.Utils.Http.post(url, value, function (resp) {
            // console.log(resp);
            alert("Success")
            location.reload(false);

        }, function (resp) {
            alert(JSON.stringify(resp))
        });
    }

</script>
