<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <style>

        .text-center {
            text-align: center;
        }

    </style>

</head>
<body>

<h1 style="margin-left: 10px" th:text="#{i18n.autoDeploy}"></h1>

<div>
    <h3 style="margin-left: 10px" th:text="#{i18n.items}"></h3>

    <table id="items" style="margin-left: 30px">
        <tr>
            <td class="text-center" style="width: 60px; padding-right: 2px;" th:text="#{i18n.no}"></td>
            <td style="padding-left: 2px; padding-right: 50px;" th:text="#{i18n.item}"></td>
            <td class="text-center" style="width: 120px" th:text="#{i18n.status}"></td>
            <td class="text-center" style="width: 180px;" th:text="#{i18n.lastDeployTime}"></td>
        </tr>
        <tr th:each="item:${items}">
            <td class="text-center" th:text="${itemStat.index+1}"></td>

            <td>
                <div>
                    <a href="javascript:void(0);" onclick="item(this)" th:text="${item.name}"></a>
                    <ul item-options style="position: absolute;  margin-top: 1px; background: #D3D3D3; display: none; ">
                        <li style="list-style-type:none; margin-top: 10px;">
                            <span th:text="#{i18n.config}"></span>
                            <ul style="margin-right: 10px;">
                                <li style="list-style-type:none; margin-top: 5px;">
                                    <a target="_blank"
                                       th:href="'/item/' + ${item.name} + '/config/core.yml'">core.yml</a>
                                </li>
                                <li style="list-style-type:none; margin-top: 5px;">
                                    <a target="_blank"
                                       th:href="'/item/' + ${item.name} + '/config/jar/docker/Dockerfile'">Dockerfile</a>
                                </li>
                            </ul>
                        </li>
                        <li style="list-style-type:none; margin-top: 15px; margin-bottom: 10px;">
                            <span th:text="#{i18n.options}"></span>
                            <ul style="margin-right: 10px;">
                                <li style="list-style-type:none; margin-top: 5px;">
                                    <a href="javascript:void(0);" th:text="#{i18n.start}"></a>
                                </li>
                                <li style="list-style-type:none; margin-top: 5px;">
                                    <a href="javascript:void(0);" th:text="#{i18n.restart}"></a>
                                </li>
                                <li style="list-style-type:none; margin-top: 5px;">
                                    <a href="javascript:void(0);" th:text="#{i18n.stop}"></a>
                                </li>
                                <li style="list-style-type:none; margin-top: 5px;">
                                    <a href="javascript:void(0);" th:text="#{i18n.rm}"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </td>

            <td class="text-center">
                <div>
                    <canvas width="120" height="10" style="border:1px solid #000000;" th:statuses="${item.statuses}">
                        您的浏览器不支持 HTML5 canvas 标签。
                    </canvas>
                </div>
            </td>

            <td class="text-center">
                <div th:title="${item.lastDeployMessage}  "
                     th:text="${#temporals.format(item.lastDeployTime,'yyyy-MM-dd HH:mm:ss')}"></div>
            </td>
        </tr>
    </table>

</div>
<br>

<div>
    <h3 style="margin-left: 10px" th:text="#{i18n.help}"></h3>
    <table style="margin-left: 30px">
        <tr>
            <td>
                <a href="javascript:void(0);" onclick="logout()" th:text="#{i18n.logout}"></a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:void(0);" onclick="shutdown()" th:text="#{i18n.shutdown}"></a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>

<!-- jquery.js -->
<script th:src="${#request.contextPath} + '/jquery-3.6.0/main.min.js'"></script>

<!-- utils.js -->
<script th:src="${#request.contextPath} + '/utils.js'"></script>

<script th:inline="javascript">

    // 状态映射
    let statusInfoMap = new Map();
    // 1-运行中(greed, #90EE90)
    statusInfoMap.set(1, { color: '#90EE90', desc: '运行中' });
    // 2-部署中(Pink, #FFC0CB)
    statusInfoMap.set(2, { color: '#FFC0CB', desc: '部署中' });
    // 3-部署完成(#87CEFA)
    statusInfoMap.set(3, { color: '#87CEFA', desc: '部署完成' });
    // 4-异常(red, #FF0000)
    statusInfoMap.set(4, { color: '#FF0000', desc: '异常' });
    // 5-结束(black, #333333)
    statusInfoMap.set(5, { color: '#333333', desc: '结束' });

    // canvas
    Array.from($('canvas')).forEach(canvas => {
        // ctx
        let ctx = canvas.getContext("2d");

        let divTitleBuilder = [];

        // $canvas
        $canvas = $(canvas);
        let statuses = JSON.parse($canvas.attr('statuses'));
        // console.log('statuses', statuses);
        let length = statuses.length;
        let x = 0;
        let width = 0;
        let widthIncr = Math.trunc(120 / length);
        for (let i = 0; i < length; i++) {
            let statusInfo = statusInfoMap.get(statuses[i]);
            divTitleBuilder.push(statusInfo.desc);
            ctx.fillStyle = statusInfo.color;
            if (i === length - 1) {
                width = 120 - width;
            } else {
                width = width + widthIncr;
            }

            // (x, y, w, h)
            ctx.fillRect(x, 0, width, 10);

            x = width;
        }

        let $div = $canvas.parent();
        // console.log('$div', $div);
        $div.attr('title', divTitleBuilder.join(' - '));
    });

    let utilsModule = UtilsModule();

    // context-path
    const contextPath = [[${#httpServletRequest.getContextPath()}]] + '';

    // +
    let $tr = $('<tr></tr>');
    let $td = $('<td class="text-center" style="width: 60px; padding-right: 2px;"></td>');
    let $btn = $('<button>+</button>');
    $btn.on('click', function () {
        let itemName = prompt("请输入预部署项目名称（必须以字母开头，并且只能输入字母、数字、下划线、横杠，长度不能超过32个字符）");
        if (itemName == null) {
            return;
        }

        itemName = itemName.trim();
        if ('' === itemName) {
            alert('项目名不能为空!');
            return;
        }

        // 以字母开头，包括字母、数字、下划线、横杠
        // ^[a-zA-Z][a-zA-Z0-9_-]*$
        let pattern = /^[a-zA-Z][a-zA-Z0-9_-]*$/;
        if (!pattern.test(itemName)) {
            alert('预部署项目名称必须以字母开头，并且只能输入字母、数字、下划线、横杠!');
            return;
        }

        // length < 32
        if (itemName.length > 32) {
            alert('预部署项目名称不能超过32个字符!');
            return;
        }

        // add
        // console.log(itemName);
        let url = contextPath + '/item/add/' + itemName;
        utilsModule.Utils.Http.post(url, null, function (resp) {
            // console.log(resp);
            location.reload(false);

        }, function (resp) {
            alert(JSON.stringify(resp))
        });
    });
    $btn.appendTo($td);
    $td.appendTo($tr);
    $('<td></td>').appendTo($tr);
    $('<td></td>').appendTo($tr);
    $('<td></td>').appendTo($tr);
    $tr.appendTo($('#items'));

    function item(element) {
        let $ul = $(element).next();
        // console.log('$ul', $ul);

        let $uls = $.find('ul[item-options]');
        // console.log('$uls', $uls);
        $uls.forEach(_ul => _ul != $ul[0] && $(_ul).css('display', 'none'));

        let display = null;
        if ($ul.css('display') === 'none') {
            display = 'block';
        } else {
            display = 'none';
        }
        $ul.css('display', display);
    }

    function logout() {
        let result = confirm('Logout ?');
        if (result) {
            window.location.href = contextPath + '/logout';
        }
    }

    function shutdown() {
        let result = confirm('Shutdown ?');
        if (result) {
            window.location.href = contextPath + '/shutdown';
        }
    }

</script>
