<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <style>

        .text-center {
            text-align: center;
        }

    </style>

</head>

<body style="margin: 20px">

<h1 style="margin-left: 10px" th:text="#{i18n.automatedDeployment}">Automated Deployment</h1>

<!-- items -->
<div>
    <h3 style="margin-left: 10px" th:text="#{i18n.itemList}"></h3>
    <table id="items" style="margin-left: 30px">
        <tr>
            <td class="text-center" style="width: 60px; padding-right: 2px;" th:text="#{i18n.no}"></td>
            <td style="padding-left: 2px; padding-right: 50px;" th:text="#{i18n.item}"></td>
            <td class="text-center" style="width: 150px" th:text="#{i18n.stageView}"></td>
            <td class="text-center" style="width: 180px;" th:text="#{i18n.lastDeploymentTime}"></td>
        </tr>
        <tr th:each="item:${items}"
            onmouseover="this.style.backgroundColor='#D3D3D3'"
            onmouseout="this.style.backgroundColor='#FFFFFF'">

            <!-- No -->
            <td class="text-center" th:text="${itemStat.index+1}"></td>

            <!-- Item -->
            <td>
                <div>
                    <a href="javascript:void(0);"
                       onclick="item(this)"
                       th:name="${item.name}"
                       th:text="${item.name}"></a>
                    <ul item-more style="position: absolute;  margin-top: 1px; background: #D3D3D3; display: none; ">
                        <li style="list-style-type:none; margin-top: 10px;">
                            <span th:text="#{i18n.config}"></span>
                            <ul style="margin-right: 10px;">
                                <li style="list-style-type:none; margin-top: 5px;">
                                    <a target="_blank"
                                       th:href="'/item/' + ${item.name} + '/config/core.yml'">core.yml</a>
                                </li>
                                <li style="list-style-type:none; margin-top: 5px;">
                                    <a target="_blank"
                                       th:href="'/item/' + ${item.name} + '/config/jar/docker/Dockerfile'">Dockerfile</a>
                                </li>
                            </ul>
                        </li>
                        <li style="list-style-type:none; margin-top: 15px; margin-bottom: 10px;">
                            <span th:text="#{i18n.options}"></span>
                            <ul style="margin-right: 10px;">
                                <li style="list-style-type:none; margin-top: 5px;">
                                    <a href="javascript:void(0);"
                                       th:text="#{i18n.deploy}"
                                       th:name="${item.name}"
                                       onclick="deploy(this)"></a>
                                </li>
                                <li style="list-style-type:none; margin-top: 5px;">
                                    <!-- <input type="checkbox" name="enableSourceMonitoring" checked> -->
                                    <input type="checkbox" name="enableSourceMonitoring"
                                           onclick="enableSourceMonitoring(this)">
                                    <span th:text="#{i18n.enableSourceMonitoring}"></span>
                                </li>
                            </ul>
                        </li>

                        <li style="list-style-type:none; margin-top: 15px; margin-bottom: 10px;">
                            <span th:text="#{i18n.deploymentHistoryLog}"></span>
                            <ul style="margin-right: 10px; max-height: 200px; overflow:auto;"
                                th:id="${item.name} + '_deploymentHistoryLog'">
                            </ul>
                        </li>
                    </ul>
                </div>
            </td>

            <!-- Stage View -->
            <td class="text-center">
                <canvas th:id="${item.name} + '_stages'"
                        width="150"
                        height="10"
                        style="border:1px solid #000000;">
                    您的浏览器不支持 HTML5 canvas 标签。
                </canvas>
            </td>

            <!-- Last Deployment Time -->
            <td class="text-center">
                <span th:id="${item.name} + '_lastDeploymentTime'"
                      th:text="${item.lastDeploymentTime == null ? '-' : #temporals.format(item.lastDeploymentTime,'yyyy-MM-dd HH:mm:ss')}"
                      th:title="${item.lastRevCommitMessage}"></span>
            </td>
        </tr>
    </table>

</div>
<br>

<div>
    <h3 style="margin-left: 10px" th:text="#{i18n.help}"></h3>
    <table style="margin-left: 30px">
        <tr>
            <td>
                <a href="javascript:void(0);" onclick="logout()" th:text="#{i18n.logout}"></a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:void(0);" onclick="shutdown()" th:text="#{i18n.shutdown}"></a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>

<!-- jquery.js -->
<script th:src="${#request.contextPath} + '/static/jquery-3.6.0/main.min.js'"></script>

<!-- utils.js -->
<script th:src="${#request.contextPath} + '/static/utils.js'"></script>

<!-- init -->
<script th:inline="javascript">

    // UtilsModule
    let utilsModule = UtilsModule();

    // context-path
    const contextPath = [[${#httpServletRequest.getContextPath()}]] + '';

    const items = [[${items}]];

</script>

<!-- item -->
<script>

    function logList($element) {
        // log list
        let itemName = $element.attr('name');
        let url = contextPath + '/item/' + itemName + "/log/list";
        utilsModule.Utils.Http.get(url, null, function (resp) {
            // console.log(resp);
            let $ul = $('#' + itemName + '_deploymentHistoryLog');
            // console.log($ul);
            $ul.html('');
            resp.forEach(logName => {
                let $li = $('<li style="list-style-type:none; margin-top: 5px;"></li>');
                let $a = $('<a target="_blank">' + logName + '</a>');
                $a.attr('href', contextPath + '/item/' + itemName + "/log/" + logName);
                $a.appendTo($li);
                $li.appendTo($ul);
            });

        }, function (resp) {
            alert(JSON.stringify(resp))
        });
    }

    function item(element) {
        let $element = $(element);
        logList($element);

        // uls
        let $ul = $element.next();
        // console.log('$ul', $ul);
        let $uls = $.find('ul[item-more]');
        // console.log('$uls', $uls);
        $uls.forEach(_ul => _ul != $ul[0] && $(_ul).css('display', 'none'));

        // cur ul
        let display = $ul.css('display') === 'none' ? 'block' : 'none';
        $ul.css('display', display);
    }

    function deploy(element) {
        let itemName = $(element).attr('name');

        let result = confirm('deploy ' + itemName + ' ?');
        if (!(result)) {
            return;
        }

        let url = contextPath + '/item/' + itemName + "/deploy";
        utilsModule.Utils.Http.post(url, null, function (resp) {
            alert('已开始部署!');

        }, function (resp) {
            alert(JSON.stringify(resp))
        });
    }

    function enableSourceMonitoring(element) {
        alert('此功能暂未开放!');
        return;
    }

</script>


<!-- Stage View -->
<script>

    function getStagesViewCanvas(itemName) {
        return document.getElementById(itemName + '_stages');
    }

    /**
     * 设置阶段进度
     * @param itemName 项目名
     * @param value 进度值，%
     */
    function setItemStage(itemName, value, diffStyle) {
        let width = 150;
        let height = 150;
        let canvas = getStagesViewCanvas(itemName);

        // cur
        let curWidth = Math.trunc(width * value);
        // console.log('curWidth', curWidth)

        // ctx
        let ctx = canvas.getContext("2d");
        // fillStyle
        ctx.fillStyle = '#90EE90';
        // fillRect(x, y, w, h)
        ctx.fillRect(0, 0, curWidth, height);

        // diff
        let diffWidth = width - curWidth;
        if (diffWidth > 0) {
            if (!(diffStyle)) {
                diffStyle = '#FFFFFF';
            }
            ctx.fillStyle = diffStyle;
            ctx.fillRect(curWidth, 0, diffWidth, height);
        }
    }

    function TooltipText(text) {
        this.value = [];
        this.append(text);
    }

    TooltipText.prototype.append = function (text) {
        this.value.push(text);
        return this;
    }

    TooltipText.prototype.toString = function () {
        return this.value.join('');
    }

    function loadItemStage(itemInfo) {
        let value = 0;
        let stages = itemInfo.stages;
        // console.log(stages);
        if (!(stages)) {
            return;
        }

        let tooltipTextBuilder = [];
        let totalTimeMillis = 0;
        let length = stages.length;
        for (let i = 0; i < length; i++) {
            let stage = stages[i];
            // console.log('stage[' + i + ']', stage);
            let tooltipText = new TooltipText((i + 1) + '、【' + stage.name + '】');
            tooltipTextBuilder.push(tooltipText);
            tooltipText.append('耗时：');
            if (!(stage.startTime)) {
                tooltipText.append('-');
                continue;
            }

            if (!(stage.endTime)) {
                tooltipText.append('-');
                continue;
            }

            let timeMillis = stage.endTime - stage.startTime;
            totalTimeMillis += timeMillis;
            tooltipText.append(timeMillis).append('ms');
            tooltipText.append('（');
            tooltipText.append((timeMillis / 1000).toFixed(2)).append('s');
            tooltipText.append('）');

            if (stage.endTime === -1) {
                setItemStage(itemInfo.name, value, '#FF0000');
                continue;
            }

            if (i === length - 1) {
                value = 1;
            } else {
                value += 100 / length / 100;
            }
        }
        // console.log(value, itemInfo);
        setItemStage(itemInfo.name, value);

        tooltipTextBuilder.push(new TooltipText("总耗时：").append(totalTimeMillis).append('ms').append("（").append((totalTimeMillis / 1000).toFixed(2)).append("s").append("）"));

        // set tooltip text
        let canvas = getStagesViewCanvas(itemInfo.name);
        // console.log('tooltipTextBuilder', tooltipTextBuilder);
        canvas.title = tooltipTextBuilder.join('\n');
    }

    function setLastXxx(itemInfo) {
        let $lastDeploymentTime = $('#' + itemInfo.name + '_lastDeploymentTime');
        $lastDeploymentTime.text(itemInfo.lastDeploymentTime);
        $lastDeploymentTime.attr('title', itemInfo.lastRevCommitMessage);

        let $element = $('a[name=' + itemInfo.name + ']');
        logList($element);
    }

    // test
    // 每间隔2s钟循环执行
    // setInterval(function () {
    //     let value = Math.random();
    //     setItemStage('test1', value);
    //     // console.log(value);
    // }, 2000);

    // console.log('items', items);
    for (let i = 0, length = items.length; i < length; i++) {
        loadItemStage(items[i]);
    }

</script>

<!-- WebSocket -->
<script>

    let url = 'ws://' + window.location.host + '/item/websocket'
    let webSocket = new utilsModule.Utils.WebSocket(url, function (event) {
        console.log('onopen', event);
    }, function (event) {
        // console.log('onmessage', event);
        let itemInfo = JSON.parse(event.data);
        // console.log('itemInfo', itemInfo);
        setLastXxx(itemInfo);
        loadItemStage(itemInfo);

    }, function (event) {
        console.log('onclose', event);
        reconnect();
    }, function (event) {
        console.log('error', event);
        reconnect();
    });
    webSocket.connect();
    webSocket.windowOnbeforeunload();

    let hasReconnectTaskFlag = false;

    function reconnect() {
        if (!hasReconnectTaskFlag) {
            hasReconnectTaskFlag = true;
            setTimeout(function () {
                console.log('尝试重新连接 ...');
                webSocket.connect();
                hasReconnectTaskFlag = false;
            }, 2000); // ms
        }
    }

</script>

<!-- item + -->
<script>

    // +
    let $tr = $('<tr></tr>');
    let $td = $('<td class="text-center" style="width: 60px; padding-right: 2px;"></td>');
    let $btn = $('<button>+</button>');
    $btn.on('click', function () {
        let itemName = prompt("请输入预部署项目名称（必须以字母开头，并且只能输入字母、数字、下划线、横杠，长度不能超过32个字符）");
        if (itemName == null) {
            return;
        }

        itemName = itemName.trim();
        if ('' === itemName) {
            alert('项目名不能为空!');
            return;
        }

        // 以字母开头，包括字母、数字、下划线、横杠
        // ^[a-zA-Z][a-zA-Z0-9_-]*$
        let pattern = /^[a-zA-Z][a-zA-Z0-9_-]*$/;
        if (!pattern.test(itemName)) {
            alert('预部署项目名称必须以字母开头，并且只能输入字母、数字、下划线、横杠!');
            return;
        }

        // length < 32
        if (itemName.length > 32) {
            alert('预部署项目名称不能超过32个字符!');
            return;
        }

        // add
        // console.log(itemName);
        let url = contextPath + '/item/add/' + itemName;
        utilsModule.Utils.Http.post(url, null, function (resp) {
            // console.log(resp);
            location.reload(false);

        }, function (resp) {
            alert(JSON.stringify(resp))
        });
    });
    $btn.appendTo($td);
    $td.appendTo($tr);
    $('<td></td>').appendTo($tr);
    $('<td></td>').appendTo($tr);
    $('<td></td>').appendTo($tr);
    $tr.appendTo($('#items'));

</script>


<!-- Help -->
<script>

    function logout() {
        let result = confirm('Logout ?');
        if (result) {
            window.location.href = contextPath + '/logout';
        }
    }

    function shutdown() {
        alert('此功能暂未开放!');
        return;

        let result = confirm('Shutdown ?');
        if (result) {
            window.location.href = contextPath + '/shutdown';
        }
    }

</script>
